.mr-div {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    font-size: 10px;

  }

 img {
    width: 150px;
    height: auto;
    position: fixed;


  }
  .mr-p{
    margin-left: 150px;
  }
