.navbar {
    background-color: #333;
    position: sticky;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-start;
    top: 0;
  }

  .navbar a {
    color: white;
    position: sticky;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
  }

  .navbar a:hover {
    position: sticky;
    text-decoration: none;
  }
