* {

    
    box-sizing: border-box;
}
div{
    width: 200px;
    height: 200px;
    color: rgb(0, 0, 0);
}
.div1{
    position: absolute;
    background-color: #ee3e64;
    position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
   

}
.div2{
    background-color: #b7d84b;
    z-index: 2;
    position: absolute;
      top: 0px;
      right: 0px;

}
.div3{
background-color: #44accf;
z-index: 3;
position: absolute;
bottom: 0px;
left: 0px;
}
.div4{
    background-color: #ebde52;
    z-index: 4;
    position: absolute;
    bottom: 0px;
    right: 0px;
}