div{
    width: 150px;
    height: 1px;
    margin: 0 auto; 
    text-align: center;
    padding: 50px;
    line-height: 10px;
    font-size: 15px;
}
.div1{
    border: 2px solid black;
}
.div2{
    border: 2px dashed red;
}
.div3{
    border: 2px dotted blue;
}
.div4{
    border: 4px double purple;

}
.div5{
    border: 3px groove fuchsia;
}
.div6{
    border: 6px ridge greenyellow;
}
.div7{
    border: 6px inset yellow;
}
.div8{
    border: 6px outset Brown;
}
