div{
    border: 2px solid #154c79;
    width: 275px;
    height: 470px;
    margin: 0 auto; 
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
   
}
img{
    position: relative;
    width: auto;
    height: 180px;
}